.App {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
  margin: 10px;
  width: 250px;
}

.article .title {
  font-weight: bold;
}

.article .footer {
  display:flex;
}

.time, .subtitle {
  color: #666;
}

.divider {
  margin: 0 5px;
  color: #ddd;
}

.article button {
  background: none;
  border: none;
}